/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
web/uploads/*
!web/uploads/tests/.gitkeep
!web/uploads/returned_tests/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
